# Buffer1

In [1]:
import pandas as pd

In [2]:
merged_data=pd.read_csv('../data/processed/well_pchip.csv')
gage_to_wells_df = pd.read_csv('../data/processed/wells_with_catchment_info.csv')

In [3]:
import pandas as pd

# Assuming gage_to_wells_df is already loaded
# Convert all column names to lowercase
gage_to_wells_df.columns = gage_to_wells_df.columns.str.lower()

# Drop the specified columns
gage_to_wells_df.drop(columns=['name', 'river', 'state', 'aquifer_na'], inplace=True, errors='ignore')

# Rename the specified columns
gage_to_wells_df.rename(columns={
    'latitude': 'gage_lat',
    'longitude': 'gage_lon',
    'lat_dec': 'well_lat',
    'long_dec': 'well_lon'
}, inplace=True)

# Display the updated DataFrame
print(gage_to_wells_df.head())

        well_id          well_name   well_lat    well_lon     gse  \
0  3.946181e+14  (D-12- 4)16ccb- 1  39.771627 -111.488248  5980.0
1  3.946341e+14  (D-12- 4)16bcc- 1  39.776071 -111.488248  5960.0
2  3.946431e+14  (D-12- 4)16bcb- 1  39.778571 -111.487970  5955.0
3  3.946491e+14  (D-12- 4)17abd- 1  39.780238 -111.494915  5938.0
4  3.947461e+14  (D-12- 4) 9bab- 1  39.796071 -111.482970  5977.0

                           geometry  catchment_id     gage_id  \
0   POINT (-111.4882484 39.7716267)   710648999.0  10152000.0
1   POINT (-111.4882483 39.7760711)   710647014.0  10152000.0
2  POINT (-111.4879704 39.77857106)   710647014.0  10152000.0
3  POINT (-111.4949154 39.78023766)   710549798.0  10152000.0
4  POINT (-111.4829697 39.79607075)   710647014.0  10152000.0

                             gage_name
0  SPANISH FORK NEAR LAKE SHORE - UTAH
1  SPANISH FORK NEAR LAKE SHORE - UTAH
2  SPANISH FORK NEAR LAKE SHORE - UTAH
3  SPANISH FORK NEAR LAKE SHORE - UTAH
4  SPANISH FORK NEAR LAKE SHORE - UTAH

In [4]:
well_pchip=merged_data.copy()

In [6]:
import pandas as pd

# Assuming well_pchip and gage_to_wells_df are already loaded
# Perform an inner merge to filter and combine the data based on 'well_id'
filtered_data = pd.merge(
    well_pchip,
    gage_to_wells_df[['gage_id', 'well_id', 'well_lat', 'well_lon']],
    on='well_id',
    how='inner'
)

# Drop the duplicate columns with suffixes
filtered_data.drop(columns=['well_lat_x', 'well_lon_x'], inplace=True)

# Optionally, rename the remaining columns if needed
filtered_data.rename(columns={'well_lat_y': 'well_lat', 'well_lon_y': 'well_lon'}, inplace=True)

# Display the new DataFrame
print(filtered_data.head())

           well_id        date          wte     gse     gage_id   well_lat  \
0  394643111291401  1971-09-15  5953.300000  5955.0  10152000.0  39.778571
1  394643111291401  1971-09-16  5953.312390  5955.0  10152000.0  39.778571
2  394643111291401  1971-09-17  5953.324794  5955.0  10152000.0  39.778571
3  394643111291401  1971-09-18  5953.337211  5955.0  10152000.0  39.778571
4  394643111291401  1971-09-19  5953.349641  5955.0  10152000.0  39.778571

    well_lon
0 -111.48797
1 -111.48797
2 -111.48797
3 -111.48797
4 -111.48797

In [7]:
gage_info = pd.read_csv('../data/raw/streamflow/gsl_nwm_gage.csv')
gage_info

,id,name,River,latitude,longitude,elevation_m,state
0,10011200,WEST FORK BEAR RIVER AT WHITNEY DAM - NR OAKLE...,WEST FORK BEAR RIVER,40.841614,-110.927119,2797,Utah
1,10011500,BEAR RIVER NEAR UTAH-WYOMING STATE LINE,BEAR RIVER,40.965225,-110.853508,2432,Utah
2,10015700,SULPHUR CR.AB.RES.BL.LA CHAPELLE CR.NR EVANSTO...,SULPHUR CREEK,41.129114,-110.806563,2205,Wyoming
3,10015900,SULPHUR CREEK BL RES. - NEAR EVANSTON - WYO.,SULPHUR CREEK,41.156058,-110.835176,2173,Wyoming
4,10016900,BEAR RIVER AT EVANSTON - WY,BEAR RIVER,41.270224,-110.963793,2057,Wyoming
...,...,...,...,...,...,...,...
73,10168500,BIG COTTONWOOD CR NR SALT LAKE CITY UTAH,LITTLE COTTONWOOD CREEK,40.618559,-111.781876,1527,Utah
74,10171000,JORDAN RIVER @ 1700 SOUTH @ SALT LAKE CITY - UT,JORDAN RIVER,40.733557,-111.923270,1294,Utah
75,10172700,VERNON CREEK NEAR VERNON - UT,VERNON CREEK,39.979391,-112.380230,1898,Utah
76,10172860,WARM CREEK NEAR GANDY - UT,WARM CREEK,39.459528,-114.023722,1573,Utah
77,10172952,DUNN CREEK NEAR PARK VALLEY - UT,DUNN CREEK,41.858530,-113.327219,1910,Utah

In [9]:
# Merge gage_info with filtered_data to add gage coordinates
filtered_data = pd.merge(
    filtered_data,
    gage_info[['id', 'latitude', 'longitude']],
    left_on='gage_id',
    right_on='id',
    how='left'
)

# Rename the columns
filtered_data.rename(columns={
    'latitude': 'gage_lat',
    'longitude': 'gage_lon'
}, inplace=True)

# Drop the redundant id column
filtered_data.drop('id', axis=1, inplace=True)

In [10]:
filtered_data.to_csv('../data/processed/after_buffer1.csv', index=False)

In [12]:
# Calculate the number of unique wells
unique_wells_count = filtered_data['well_id'].nunique()

# Display the result
print(f"Number of unique wells: {unique_wells_count}")

unique_gages_count = filtered_data['gage_id'].nunique()
print(f"Number of unique gages: {unique_gages_count}")

Number of unique wells: 635
Number of unique gages: 7

# buffer2

In [21]:
import pandas as pd
import numpy as np

def filter_and_analyze_wte(filtered_data, merged_df, distance_buffer_meters=30, delta_bins=None):
    # Convert WTE from feet to meters
    filtered_data['wte_meters'] = filtered_data['wte'] * 0.3048

    # Merge filtered_data with merged_df to get reach_elev
    merged_data = pd.merge(
        filtered_data,
        merged_df[['well_id', 'reach_elev_m']],
        on='well_id',
        how='inner'
    )

    # Calculate the difference between reach elevation and WTE
    merged_data['delta_elev'] = merged_data['reach_elev_m'] - merged_data['wte_meters']

    # Filter out values where the difference is greater than the distance buffer
    filtered_result = merged_data[merged_data['delta_elev'] <= distance_buffer_meters]

    # Define default delta bins if not provided
    if delta_bins is None:
        delta_bins = [-float('inf'), -20, -10, -5, 0, 5, 10, 20, 30, 50, 75, 100, float('inf')]

    # Bin the delta_elev values
    bin_labels = [f"< {delta_bins[1]}"] + \
                 [f"{delta_bins[i]} to {delta_bins[i+1]}" for i in range(1, len(delta_bins)-2)] + \
                 [f">= {delta_bins[-2]}"]
    filtered_result['delta_bin'] = pd.cut(filtered_result['delta_elev'], bins=delta_bins, labels=bin_labels)

    # Calculate statistics
    total_measurements = len(filtered_result)
    dist_stats = filtered_result.groupby('delta_bin').size().reset_index(name='count')
    dist_stats['percentage'] = (dist_stats['count'] / total_measurements * 100).round(2)

    # Display statistics
    print(dist_stats)

    return filtered_result, dist_stats

# Example usage
filtered_data = pd.read_csv('../data/processed/after_buffer1.csv')  # Load your filtered data
merged_df = pd.read_csv('../data/processed/well_reach.csv')  # Load the merged data with reach_elev
# filtered_result, dist_stats = filter_and_analyze_wte(filtered_data, merged_df, distance_buffer_meters=30)

In [22]:
filtered_result, dist_stats = filter_and_analyze_wte(filtered_data, merged_df, distance_buffer_meters=10000)

     delta_bin  count  percentage
0        < -20      0         NaN
1   -20 to -10      0         NaN
2    -10 to -5      0         NaN
3      -5 to 0      0         NaN
4       0 to 5      0         NaN
5      5 to 10      0         NaN
6     10 to 20      0         NaN
7     20 to 30      0         NaN
8     30 to 50      0         NaN
9     50 to 75      0         NaN
10   75 to 100      0         NaN
11      >= 100      0         NaN

/var/folders/fk/mzjttwrn7rn5nvcfhpgm4mrc0000gq/T/ipykernel_13546/3223962800.py:34: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dist_stats = filtered_result.groupby('delta_bin').size().reset_index(name='count')

In [18]:
filtered_result

Empty DataFrame
Columns: [well_id, date, wte, gse, gage_id, well_lat, well_lon, gage_lat, gage_lon, wte_meters, reach_elev_m, delta_elev, delta_bin]
Index: []

In [ ]:
filtered_result.to_csv('../data/processed/after_buffer2_30m.csv', index=False)

## use q dates to filter after buffer2

In [37]:
filtered_data.head()

,well_id,date,wte,gse,gage_id,well_lat,well_lon,gage_lat,gage_lon,wte_meters
0,3.946430e+14,9/15/71,5953.300000,5955.0,10152000,39.778571,-111.48797,40.150232,-111.726039,1814.565840
1,3.946430e+14,9/16/71,5953.312390,5955.0,10152000,39.778571,-111.48797,40.150232,-111.726039,1814.569616
2,3.946430e+14,9/17/71,5953.324794,5955.0,10152000,39.778571,-111.48797,40.150232,-111.726039,1814.573397
3,3.946430e+14,9/18/71,5953.337211,5955.0,10152000,39.778571,-111.48797,40.150232,-111.726039,1814.577182
4,3.946430e+14,9/19/71,5953.349641,5955.0,10152000,39.778571,-111.48797,40.150232,-111.726039,1814.580971

In [38]:
filtered_result = filtered_data.copy()

In [39]:
filtered_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   well_id     1048575 non-null  float64
 1   date        1048575 non-null  object
 2   wte         1048575 non-null  float64
 3   gse         1048575 non-null  float64
 4   gage_id     1048575 non-null  int64
 5   well_lat    1048575 non-null  float64
 6   well_lon    1048575 non-null  float64
 7   gage_lat    1048575 non-null  float64
 8   gage_lon    1048575 non-null  float64
 9   wte_meters  1048575 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 80.0+ MB

In [27]:
compiled_data=pd.read_csv('../data/processed/streamflow/q_bfd_1.csv')

In [41]:
compiled_data.head()

    gage_id        date    q  bfd
0  10015900  1958-04-01  0.0  1.0
1  10015900  1958-04-02  0.0  1.0
2  10015900  1958-04-03  0.0  1.0
3  10015900  1958-04-04  0.0  1.0
4  10015900  1958-04-05  0.0  1.0

In [46]:
import pandas as pd

# 首先检查日期格式
print("=== 日期格式检查 ===")
print("filtered_result date samples:")
print(filtered_result['date'].head())
print("compiled_data date samples:")
print(compiled_data['date'].head())

# 检查日期格式是否一致
print(f"\nfiltered_result date type: {type(filtered_result['date'].iloc[0])}")
print(f"compiled_data date type: {type(compiled_data['date'].iloc[0])}")

# 标准化日期格式
filtered_result_copy = filtered_result.copy()
compiled_data_copy = compiled_data.copy()

# 转换日期格式
filtered_result_copy['date'] = pd.to_datetime(filtered_result_copy['date']).dt.strftime('%Y-%m-%d')
compiled_data_copy['date'] = pd.to_datetime(compiled_data_copy['date']).dt.strftime('%Y-%m-%d')

# Ensure both gage_id columns are of the same type
filtered_result_copy['gage_id'] = filtered_result_copy['gage_id'].astype(str)
compiled_data_copy['gage_id'] = compiled_data_copy['gage_id'].astype(str)

print("\n=== 标准化后的日期格式 ===")
print("filtered_result date samples:")
print(filtered_result_copy['date'].head())
print("compiled_data date samples:")
print(compiled_data_copy['date'].head())

# 检查gage_id重合情况
filtered_gages = set(filtered_result_copy['gage_id'])
compiled_gages = set(compiled_data_copy['gage_id'])
overlap = filtered_gages.intersection(compiled_gages)
print(f"\n=== gage_id重合检查 ===")
print(f"filtered_result中的gage_id: {sorted(list(filtered_gages))}")
print(f"compiled_data中的gage_id: {sorted(list(compiled_gages))}")
print(f"重合的gage_id数量: {len(overlap)}")
print(f"重合的gage_id: {sorted(list(overlap))}")

# 如果有重合，进行merge
if len(overlap) > 0:
    # Perform the merge
    q_buffer2_pair = pd.merge(
        filtered_result_copy,
        compiled_data_copy[['gage_id', 'date','q','bfd']],
        on=['gage_id', 'date'],
        how='inner'
    )
    print(f"\n=== Merge结果 ===")
    print(f"合并后的记录数: {len(q_buffer2_pair)}")
    print("前5行:")
    print(q_buffer2_pair.head())
else:
    print("\n=== 没有重合的gage_id，merge结果为空 ===")
    q_buffer2_pair = pd.DataFrame()

=== 日期格式检查 ===
filtered_result date samples:
0    9/15/71
1    9/16/71
2    9/17/71
3    9/18/71
4    9/19/71
Name: date, dtype: object
compiled_data date samples:
0    1958-04-01
1    1958-04-02
2    1958-04-03
3    1958-04-04
4    1958-04-05
Name: date, dtype: object

filtered_result date type: <class 'str'>
compiled_data date type: <class 'str'>

/var/folders/fk/mzjttwrn7rn5nvcfhpgm4mrc0000gq/T/ipykernel_13546/3076181137.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  filtered_result_copy['date'] = pd.to_datetime(filtered_result_copy['date']).dt.strftime('%Y-%m-%d')

=== 标准化后的日期格式 ===
filtered_result date samples:
0    2071-09-15
1    2071-09-16
2    2071-09-17
3    2071-09-18
4    2071-09-19
Name: date, dtype: object
compiled_data date samples:
0    1958-04-01
1    1958-04-02
2    1958-04-03
3    1958-04-04
4    1958-04-05
Name: date, dtype: object

=== gage_id重合检查 ===
filtered_result中的gage_id: ['10141000', '10152000', '10153100', '10163000', '10168000']
compiled_data中的gage_id: ['10011500', '10015700', '10015900', '10016900', '10020100', '10020300', '10023000', '10026500', '10028500', '10038000', '10039500', '10041000', '10046500', '10047500', '10058600', '10068500', '10079500', '10092700', '10102250', '10104700', '10104900', '10105900', '10106000', '10109000', '10109001', '10113500', '10118000', '10125500', '10126000', '10128500', '10129300', '10129500', '10129900', '10130500', '10131000', '10132000', '10132500', '10133600', '10133650', '10133800', '10134500', '10136500', '10137500', '10139300', '10140100', '10141000', '10142000', '10143500', '10146000', '10146400', '10150500', '10152000', '10153100', '10153800', '10154200', '10155000', '10155200', '10155500', '10156000', '10157500', '10159500', '10163000', '10164500', '10167000', '10168000', '10168500', '10171000', '10172700', '10172860', '10172952']
重合的gage_id数量: 5
重合的gage_id: ['10141000', '10152000', '10153100', '10163000', '10168000']

=== Merge结果 ===
合并后的记录数: 429009
前5行:
        well_id        date          wte     gse   gage_id   well_lat  \
0  3.946430e+14  1975-01-01  5954.322586  5955.0  10152000  39.778571
1  3.946430e+14  1975-01-02  5954.325175  5955.0  10152000  39.778571
2  3.946430e+14  1975-01-03  5954.327746  5955.0  10152000  39.778571
3  3.946430e+14  1975-01-04  5954.330300  5955.0  10152000  39.778571
4  3.946430e+14  1975-01-05  5954.332834  5955.0  10152000  39.778571

    well_lon   gage_lat    gage_lon   wte_meters     q  bfd
0 -111.48797  40.150232 -111.726039  1814.877524  96.0  1.0
1 -111.48797  40.150232 -111.726039  1814.878313  90.0  1.0
2 -111.48797  40.150232 -111.726039  1814.879097  90.0  1.0
3 -111.48797  40.150232 -111.726039  1814.879875  93.0  1.0
4 -111.48797  40.150232 -111.726039  1814.880648  95.0  1.0

In [44]:
# 检查compiled_data中bfd=1的记录数
print("Number of records with bfd=1:", len(compiled_data[compiled_data['bfd'] == 1]))

# 检查两个DataFrame中的gage_id范围
print("\nGage IDs in filtered_result:", filtered_result['gage_id'].unique())
print("Gage IDs in compiled_data:", compiled_data['gage_id'].unique())

# 检查gage_id是否有重合
filtered_gages = set(filtered_result['gage_id'].astype(str))
compiled_gages = set(compiled_data['gage_id'].astype(str))
overlap = filtered_gages.intersection(compiled_gages)
print(f"\n重合的gage_id数量: {len(overlap)}")
print(f"重合的gage_id: {list(overlap)}")

# 检查日期范围
print("\nDate range in filtered_result:",
      filtered_result['date'].min(), "to", filtered_result['date'].max())
print("Date range in compiled_data:",
      compiled_data['date'].min(), "to", compiled_data['date'].max())

# 检查数据类型
print("\nData types in filtered_result:")
print(filtered_result[['gage_id', 'date']].dtypes)
print("\nData types in compiled_data:")
print(compiled_data[['gage_id', 'date']].dtypes)

Number of records with bfd=1: 885716

Gage IDs in filtered_result: ['10152000' '10141000' '10153100' '10163000' '10168000']
Gage IDs in compiled_data: ['10015900' '10157500' '10134500' '10141000' '10041000' '10026500'
 '10092700' '10118000' '10106000' '10159500' '10105900' '10047500'
 '10136500' '10132000' '10028500' '10128500' '10155500' '10167000'
 '10133650' '10129900' '10171000' '10079500' '10163000' '10153100'
 '10132500' '10155000' '10143500' '10155200' '10104700' '10020300'
 '10020100' '10172860' '10133800' '10038000' '10126000' '10130500'
 '10168000' '10011500' '10131000' '10152000' '10023000' '10039500'
 '10133600' '10129300' '10172700' '10139300' '10109000' '10113500'
 '10046500' '10142000' '10104900' '10109001' '10125500' '10016900'
 '10129500' '10137500' '10172952' '10154200' '10102250' '10150500'
 '10146000' '10153800' '10140100' '10156000' '10164500' '10068500'
 '10168500' '10146400' '10015700' '10058600']

重合的gage_id数量: 5
重合的gage_id: ['10152000', '10141000', '10163000', '10168000', '10153100']

Date range in filtered_result: 1/1/00 to 9/9/99
Date range in compiled_data: 1902-10-09 to 2025-01-28

Data types in filtered_result:
gage_id    object
date       object
dtype: object

Data types in compiled_data:
gage_id    object
date       object
dtype: object

In [48]:
q_buffer2_pair.to_csv('../data/processed/q_buffer2_pair_test.csv', index=False)

In [47]:
q_buffer2_pair.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429009 entries, 0 to 429008
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   well_id     429009 non-null  float64
 1   date        429009 non-null  object
 2   wte         429009 non-null  float64
 3   gse         429009 non-null  float64
 4   gage_id     429009 non-null  object
 5   well_lat    429009 non-null  float64
 6   well_lon    429009 non-null  float64
 7   gage_lat    429009 non-null  float64
 8   gage_lon    429009 non-null  float64
 9   wte_meters  429009 non-null  float64
 10  q           429009 non-null  float64
 11  bfd         429009 non-null  float64
dtypes: float64(10), object(2)
memory usage: 39.3+ MB