# find wte0 and q0

In [1]:
import pandas as pd

In [2]:
q_buffer2_pair=pd.read_csv('../data/processed/q_buffer2_pair_test.csv')

In [3]:


# Ensure 'date' is in datetime format
q_buffer2_pair['date'] = pd.to_datetime(q_buffer2_pair['date'])

# Sort by date to ensure chronological order
q_buffer2_pair = q_buffer2_pair.sort_values(by='date')

# Find the first occurrence of bfd=1 for each well and get the corresponding wte0 and q0
first_bfd_1 = q_buffer2_pair[q_buffer2_pair['bfd'] == 1].groupby('well_id').first().reset_index()

# Create a mapping of well_id to wte0 and q0
wte0_map = first_bfd_1.set_index('well_id')['wte'].to_dict()
q0_map = first_bfd_1.set_index('well_id')['q'].to_dict()

# Calculate delta_wte and delta_q directly in q_buffer2_pair
q_buffer2_pair['wte0'] = q_buffer2_pair['well_id'].map(wte0_map)
q_buffer2_pair['q0'] = q_buffer2_pair['well_id'].map(q0_map)

# compute the delta

In [4]:
q_buffer2_pair['delta_wte'] = q_buffer2_pair['wte'] - q_buffer2_pair['wte0']
q_buffer2_pair['delta_q'] = q_buffer2_pair['q'] - q_buffer2_pair['q0']

In [5]:
q_buffer2_pair

,well_id,date,wte,gse,gage_id,well_lat,well_lon,gage_lat,gage_lon,wte_meters,q,bfd,wte0,q0,delta_wte,delta_q
0,3.946430e+14,1975-01-01,5954.322586,5955.00,10152000,39.778571,-111.487970,40.150232,-111.726039,1814.877524,96.0,1.0,5954.322586,96.0,0.000000,0.0
12918,4.005100e+14,1975-01-01,4642.123472,4720.00,10152000,40.086067,-111.595474,40.150232,-111.726039,1414.919234,96.0,1.0,4642.123472,96.0,0.000000,0.0
15597,4.005270e+14,1975-01-01,4595.247928,4622.00,10152000,40.090788,-111.657423,40.150232,-111.726039,1400.631568,96.0,1.0,4595.247928,96.0,0.000000,0.0
18276,4.005270e+14,1975-01-01,4603.818829,4640.00,10152000,40.090788,-111.660479,40.150232,-111.726039,1403.243979,96.0,1.0,4595.247928,96.0,8.570901,0.0
19294,4.005280e+14,1975-01-01,4599.508513,4625.00,10152000,40.091066,-111.657423,40.150232,-111.726039,1401.930195,96.0,1.0,4599.508513,96.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328780,4.036390e+14,2024-12-14,6534.256296,6559.08,10163000,40.610785,-111.280181,40.237732,-111.699370,1991.641319,234.0,1.0,6596.995242,132.0,-62.738946,102.0
328781,4.036390e+14,2024-12-24,6534.243318,6559.08,10163000,40.610785,-111.280181,40.237732,-111.699370,1991.637363,239.0,1.0,6596.995242,132.0,-62.751924,107.0
328782,4.036390e+14,2025-01-26,6534.200870,6559.08,10163000,40.610785,-111.280181,40.237732,-111.699370,1991.624425,87.3,1.0,6596.995242,132.0,-62.794372,-44.7
328783,4.036390e+14,2025-01-27,6534.199592,6559.08,10163000,40.610785,-111.280181,40.237732,-111.699370,1991.624036,85.9,1.0,6596.995242,132.0,-62.795650,-46.1
328784,4.036390e+14,2025-01-28,6534.198316,6559.08,10163000,40.610785,-111.280181,40.237732,-111.699370,1991.623647,85.7,1.0,6596.995242,132.0,-62.796926,-46.3

In [6]:
# Drop the temporary columns if needed
q_buffer2_pair.drop(columns=['wte0', 'q0'], inplace=True)

# Display the resulting DataFrame with the new columns
q_buffer2_pair.head()

,well_id,date,wte,gse,gage_id,well_lat,well_lon,gage_lat,gage_lon,wte_meters,q,bfd,delta_wte,delta_q
0,3.946430e+14,1975-01-01,5954.322586,5955.0,10152000,39.778571,-111.487970,40.150232,-111.726039,1814.877524,96.0,1.0,0.000000,0.0
12918,4.005100e+14,1975-01-01,4642.123472,4720.0,10152000,40.086067,-111.595474,40.150232,-111.726039,1414.919234,96.0,1.0,0.000000,0.0
15597,4.005270e+14,1975-01-01,4595.247928,4622.0,10152000,40.090788,-111.657423,40.150232,-111.726039,1400.631568,96.0,1.0,0.000000,0.0
18276,4.005270e+14,1975-01-01,4603.818829,4640.0,10152000,40.090788,-111.660479,40.150232,-111.726039,1403.243979,96.0,1.0,8.570901,0.0
19294,4.005280e+14,1975-01-01,4599.508513,4625.0,10152000,40.091066,-111.657423,40.150232,-111.726039,1401.930195,96.0,1.0,0.000000,0.0

In [7]:
q_buffer2_pair.to_csv('../data/features/q_buffer2_pair_delta_30m.csv', index=False)