# find wte0 and q0

In [1]:
import pandas as pd

In [2]:
q_buffer2_pair=pd.read_csv('../data/processed/q_buffer2_pair_test1.csv')

In [3]:


# Ensure 'date' is in datetime format
q_buffer2_pair['date'] = pd.to_datetime(q_buffer2_pair['date'])

# Sort by date to ensure chronological order
q_buffer2_pair = q_buffer2_pair.sort_values(by='date')

# Find the first occurrence of bfd=1 for each well and get the corresponding wte0 and q0
first_bfd_1 = q_buffer2_pair[q_buffer2_pair['bfd'] == 1].groupby('well_id').first().reset_index()

# Create a mapping of well_id to wte0 and q0
wte0_map = first_bfd_1.set_index('well_id')['wte'].to_dict()
q0_map = first_bfd_1.set_index('well_id')['q'].to_dict()

# Calculate delta_wte and delta_q directly in q_buffer2_pair
q_buffer2_pair['wte0'] = q_buffer2_pair['well_id'].map(wte0_map)
q_buffer2_pair['q0'] = q_buffer2_pair['well_id'].map(q0_map)

# compute the delta

In [4]:
q_buffer2_pair['delta_wte'] = q_buffer2_pair['wte'] - q_buffer2_pair['wte0']
q_buffer2_pair['delta_q'] = q_buffer2_pair['q'] - q_buffer2_pair['q0']

In [5]:
q_buffer2_pair

,well_id,date,wte,gse,gage_id,well_lat,well_lon,gage_lat,gage_lon,wte_meters,q,bfd,wte0,q0,delta_wte,delta_q
1312128,411605111481601,1932-08-08,4833.810000,4840.0,10141000,41.267997,-111.805216,41.278277,-112.091887,1473.345288,38.0,1.0,4833.810000,38.0,0.000000,0.0
1312129,411605111481601,1932-08-09,4833.807273,4840.0,10141000,41.267997,-111.805216,41.278277,-112.091887,1473.344457,38.0,1.0,4833.810000,38.0,-0.002727,0.0
1312130,411605111481601,1932-08-10,4833.804630,4840.0,10141000,41.267997,-111.805216,41.278277,-112.091887,1473.343651,34.0,1.0,4833.810000,38.0,-0.005370,-4.0
1312131,411605111481601,1932-08-11,4833.802070,4840.0,10141000,41.267997,-111.805216,41.278277,-112.091887,1473.342871,9.0,1.0,4833.810000,38.0,-0.007930,-29.0
1312132,411605111481601,1932-08-12,4833.799591,4840.0,10141000,41.267997,-111.805216,41.278277,-112.091887,1473.342115,9.0,1.0,4833.810000,38.0,-0.010409,-29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1506807,413805111492201,2023-10-26,4752.164254,4813.0,10126000,41.634572,-111.823637,41.576321,-112.100782,1448.459665,846.0,1.0,4748.886038,437.0,3.278216,409.0
1506808,413805111492201,2023-10-29,4752.105379,4813.0,10126000,41.634572,-111.823637,41.576321,-112.100782,1448.441720,1040.0,1.0,4748.886038,437.0,3.219341,603.0
1640821,414236112101201,2023-10-29,4297.046028,4319.1,10126000,41.709928,-112.170786,41.576321,-112.100782,1309.739629,1040.0,1.0,4296.220505,382.0,0.825523,658.0
1640822,414236112101201,2023-11-01,4297.053004,4319.1,10126000,41.709928,-112.170786,41.576321,-112.100782,1309.741756,987.0,1.0,4296.220505,382.0,0.832498,605.0
1506809,413805111492201,2023-11-01,4752.048276,4813.0,10126000,41.634572,-111.823637,41.576321,-112.100782,1448.424315,987.0,1.0,4748.886038,437.0,3.162239,550.0

In [6]:
# Drop the temporary columns if needed
q_buffer2_pair.drop(columns=['wte0', 'q0'], inplace=True)

# Display the resulting DataFrame with the new columns
q_buffer2_pair.head()

,well_id,date,wte,gse,gage_id,well_lat,well_lon,gage_lat,gage_lon,wte_meters,q,bfd,delta_wte,delta_q
1312128,411605111481601,1932-08-08,4833.810000,4840.0,10141000,41.267997,-111.805216,41.278277,-112.091887,1473.345288,38.0,1.0,0.000000,0.0
1312129,411605111481601,1932-08-09,4833.807273,4840.0,10141000,41.267997,-111.805216,41.278277,-112.091887,1473.344457,38.0,1.0,-0.002727,0.0
1312130,411605111481601,1932-08-10,4833.804630,4840.0,10141000,41.267997,-111.805216,41.278277,-112.091887,1473.343651,34.0,1.0,-0.005370,-4.0
1312131,411605111481601,1932-08-11,4833.802070,4840.0,10141000,41.267997,-111.805216,41.278277,-112.091887,1473.342871,9.0,1.0,-0.007930,-29.0
1312132,411605111481601,1932-08-12,4833.799591,4840.0,10141000,41.267997,-111.805216,41.278277,-112.091887,1473.342115,9.0,1.0,-0.010409,-29.0

In [7]:
q_buffer2_pair.to_csv('../data/features/q_buffer2_pair_delta_30m.csv', index=False)